body {
    background: #0f0f23;
    color: #cccccc;
    font-family: "Source Code Pro", monospace;
    font-size: 14pt;
    min-width: 60em;
}

.leaderboard-entry {
    white-space: pre;
}

.leaderboard-time {
    opacity: .5;
}

.leaderboard-daydesc-first {
    color: #666699;
}

.leaderboard-daydesc-both {
    color: #ffff66;
}

.navbar-link {
    text-decoration: none;
    color: #009900;
}

.navbar-link:hover, .navbar-link:focus {
    color: #99ff99;
}
